.carousel {

  .carouselImg {
    img {

      width: 100%;
      height: auto;
      opacity: 0;
      transition: 2s;

      &.loaded {
        opacity: 1;
      }
    }

  }



  .carouselButtonContainer {
    display: flex;
    align-content: center;
    flex-direction: row;
    margin-top: 15px;

    .carouselButtonPrev {
      position: relative;
      color: white;
      background-color: transparent;
      font-weight: bold;
      border: 0px;
      font-size: 50px;
      bottom: 400px;
      left: 50px;

    }

    .carouselButtonNext {
      position: relative;
      color: white;
      background-color: transparent;
      font-weight: bold;
      border: 0px;
      font-size: 50px;
      bottom: 400px;
      left: 1400px;
    }

  }
}