.search-form {
  top: 70px;
  padding: 35px 0 15px 0;
  background-color: red;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;


  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;

    .title-search {
      display: flex;
      color: white;
      padding-right: 10px;
      font-weight: 700;
      justify-content: center;
    }

    .form-control {
      width: 25%;
      margin-right: 10px;
      height: 20px;
      font-size: 15px;
      text-align: center;
      background-color: rgb(226, 200, 200);

    }

    .filters {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}