.search-form {
  top: 80px;
  padding: 30px 0 15px 0;
  background-color: red;
  position: fixed;
  width: 100%;
  z-index: 1;


  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;



    .filters {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .selects {
        width: 50%;
      }
    }
  }
}