.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  padding-bottom: 100px;
  padding-top: 90px;
  grid-gap: 40px;

  .card {
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);

    .link-det {

      text-decoration: none;

      .container {
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);


        .imageNew {
          width: 100%;
          display: block;
          border-radius: 20px 20px 0 0;
        }
      }

      .details {
        padding: 20px 10px;


        h3 {
          color: #ffffff;
          font-weight: 600;
          font-size: 15px;
          margin: 10px 0 15px 0;
        }



        p {
          color: #a0a0a0;
          font-size: 15px;
          line-height: 30px;
          font-weight: 400;
        }
      }


    }
  }
}