.bookmarks-page {
  background-color: #333;
  height: 100vh;

  .bookmarks {
    background-color: #333;


    .title-products {
      font-size: 2.4rem;
      padding: 10rem 0 0 0;
      color: white;
      z-index: -2;
      margin-bottom: 10px;
      text-align: center;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
      padding: 20px;
      padding-bottom: 100px;
      grid-gap: 20px;

      .card {
        background-color: rgb(18, 0, 36);
        border-radius: 20px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
        height: 100%;

        .container {
          position: relative;
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);


          .imageNew {
            width: 100%;
            height: 300px;
            display: block;
            border-radius: 20px 20px 0 0;
          }


        }

        .details {


          h3 {
            color: #ffffff;
            font-weight: 700;
            font-size: 25px;
            text-align: center;
          }

          p {

            color: white;
            font-size: 18px;
            line-height: 30px;
            font-weight: 400;
            text-align: center;

          }
        }

        .button-bookmark {
          margin-left: 20px;
          background-color: red;
          color: white;
          width: 150px;
          height: 30px;
          border-radius: 10px;
        }

        .icon-shield {
          .img-shield {
            width: 30px;
            position: relative;
            left: 90%;
            margin-bottom: 10px;
          }
        }
      }

      .not-found {
        color: white;
        font-size: 40px;
        text-align: center;
        padding-top: 25%;
      }
    }
  }
}