.details-page {
  position: relative;
  top: 70px;
  background-color: #222;

  .container {

    display: grid;
    grid-template-rows: repeat(2, minmax(300px, 1fr));
    background-color: #222;

    .container-1 {
      display: grid;
      grid-template-columns: repeat(2, minmax(300px, 1fr));

      .container-img {
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 400px;
        }
      }

      .container-info {
        background-color: #555;
        color: white;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;

      }
    }

    .container-2 {
      display: grid;
      grid-template-columns: repeat(2, minmax(300px, 1fr));

      .container-data1 {
        text-align: center;
        color: white;
      }
    }
  }
}