.body-fetch-data-comics {
  background-color: #333;


  .title-products {
    font-size: 2.4rem;
    padding: 10rem 0 0 0;
    color: white;
    z-index: -2;
    text-align: center;
  }

  .cards-comics {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 20px;
    padding-bottom: 100px;

    grid-gap: 20px;

    .card {
      background-color: #1c1b29;
      border-radius: 20px;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
      height: 450px;

      .container {
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);


        .imageNew {
          width: 100%;
          height: 300px;
          display: block;
          border-radius: 20px 20px 0 0;
        }


      }
    }

    .details {
      padding: 20px 10px;


      h3 {
        position: relative;
        color: #ffffff;
        font-weight: 600;
        font-size: 18px;
        text-align: center;

      }

      p {
        color: #a0a0a0;
        font-size: 15px;
        line-height: 30px;
        font-weight: 400;
        display: none;
      }
    }

    .icon-shield {

      .img-shield {
        width: 30px;
        position: relative;
        left: 90%;
        bottom: 10px;

      }
    }

    .not-found {
      color: white;
      font-size: 40px;
      text-align: center;
      padding-top: 25%;
    }
  }
}